<div id="login" style="margin-bottom: 30px;">
  <label for="user">Username: </label>
  <input id="user" name="user" type="text" value="" autofocus/>

  <button id="loginButton">Login</button>
</div>

<div id="chat" style="display: none;">
  <div id="messages"></div>
  <input id="chat-input" type="text" placeholder="Write your shit ..."></input>
</div>
